.leftsidebar {
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 2;
  top: 60px;
  left: 0;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-weight: 100;
  box-shadow: $box_shadow_4;
  background: $white_1;

  .sidebar-navlink {
    padding-right: 25px;
    padding-top: 15px;
    margin-top: 25px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    ion-icon {
      font-size: 25px;
    }

    #sideBarText {
      width: 70%;
    }
  }

  .collapse-bar {
    position: absolute;
    bottom: 10%;
  }

  a {
    text-decoration: none;
    font-size: 15px;
    display: block;
    transition: 0.3s;
    font-weight: 100;

    .dropdown-item {
      pointer-events: none !important;
    }

    &:hover {
      background-color: $grey_2;
      border-left: 2px solid $blue_2;
      border-bottom-left-radius: 5px;
      cursor: pointer;

      i {
        color: $blue_2;
      }
    }
  }

  .user-account-mobile {
    padding-left: 0 !important;
    margin-top: 20px;

    a {
      pointer-events: none !important;
    }
  }

  ion-icon {
    font-size: 35px;
  }
}

#main {
  transition: margin-left .5s;
  padding: 20px;
  margin-top: 30px;
}

@media screen and (max-width: 758px) {
  .leftsidebar {
    display: none;
  }

  .navbar {
    padding: .5rem 1rem !important;
  }
}

.dropdown-item.active {
  border-left: 3px solid $blue_2;
  background-color: transparent;
  color: $black_2;
}

.collapse-bar.active {
  border-left: 3px solid $blue_2;
  background-color: $grey_5 !important;
  color: $black_2;
}
