.leftsidebar {
  height: 100%;
  width: 270px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow-x: hidden;
  font-weight: 100;
  box-shadow: $box_shadow_4;
  background: $white_1;

  .sidebar-navlink {
    padding-right: 25px;
    padding-top: 15px;
    margin-top: 25px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    ion-icon {
      font-size: 25px;
    }

    .sideBarText {
      width: 70%;
    }
  }

  a {
    text-decoration: none;
    font-size: 15px;
    display: block;
    font-weight: 100;

    .dropdown-item {
      pointer-events: none !important;
    }
  }

  .dropdown-item {
    &:hover {
      background-color: transparent;
    }
  }

  ion-icon {
    font-size: 35px;
  }
}

@media screen and (max-width: 758px) {
  .leftsidebar {
    display: none;
  }

  .navbar {
    padding: .5rem 1rem !important;
  }
}

.dropdown-item.active {
  border-left: 3px solid $blue_2;
  background-color: transparent;
  color: $black_2;

  ion-icon {
    color: $blue_2;
  }
}

.collapse-bar.active {
  border-left: 3px solid $blue_2;
  background-color: $grey_5 !important;
  color: $black_2;
}

.sidenav-collapse {
  display: flex;
  justify-content: space-between;

  &:focus {
    outline: 0;
    box-shadow: none;
    border-color: transparent;
  }

  .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
    margin: 5px 10px;

    &:hover {
      box-shadow: $box_shadow_5;
      cursor: pointer;
    }
  }

  ion-icon {
    font-size: 25px;
  }

  .sideBarText {
    cursor: pointer;
    font-size: 20px;
    color: $black_2;
    width: 70%;
    padding-top: 15px;

    &:hover {
      background-color: transparent;
      border: none;
    }
  }
}
