.favorite-option {
	margin-top: 30px;
	display: flex;

	i {
		margin-right: 10px;
	}
}

.original-book {
	.child-elem {
		pointer-events: none;
	}
}

@media screen and (min-width: 960px) {
	.book-profile-container {
		display: flex;
    flex-direction: row;
    max-width: 1150px;
    margin: 90px auto 20px;
    flex-wrap: wrap;
    justify-content: space-between;

		.original-book {
      width: 190px !important;
      margin: auto;
			margin-bottom: 10px;

			#image-error-placeholder {
				width: 190px !important;
				height: 17rem !important;
				line-height: 17rem;
				border: 1px solid #d4d4d4;
				border-radius: 4px;
				display: block;
				margin: auto;
			}

			.book-images {
				height: 17rem !important
			}
		}

		.book-profile-details {
			width: 700px;
		}

		.book-recommendation {
			min-width: 300px;
		}

		.book-profile-more {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;
			max-width: 350px !important;

			.child-elem {
				width: calc(1/2*100% - (1 - 1/2)*50px);

				.book-images {
					width: 150px !important;
					height: 12rem !important;
				}

				.book-footer {
					width: 150px !important;
					height: 7rem !important;
				}

				#image-error-placeholder {
					width: 150px !important;
					height: 13rem !important;
					line-height: 13rem;
					border: 1px solid #d4d4d4;
					border-radius: 4px;
					display: block;
					margin: auto;
				}
			}
		}

		.book-profile-more div {
			grid-gap: 20px;
		}
	}
}

@media screen and (min-width: 760px) and (max-width: 959px) {
	.book-profile-container {
		display: flex;
    flex-direction: row;
    max-width: 959px;
    margin: 90px 120px;
    flex-wrap: wrap;
		justify-content: space-between;

		.original-book {
			display: block;
			margin: 0 auto 20px auto;
			width: 250px !important;

			.child-elem {
				.book-images {
					width: 250px !important;
					height: 20rem !important;
				}
			}

			.favorite-option {
				justify-content: center;
			}

			.react-star {
				justify-content: center;
			}
		}

		.book-profile-details {
			margin-bottom: 30px;
		}

		.book-profile-more {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;

			.child-elem {
				.book-images {
					width: 200px !important;
					height: 16rem !important;
				}

				.book-footer {
					width: 200px !important;
					height: 7rem !important;
				}

				#image-error-placeholder {
					width: 250px !important;
					height: 16rem !important;
					line-height: 16rem;
					border: 1px solid #d4d4d4;
					border-radius: 4px;
					display: block;
					margin: auto;
				}
			}
		}
	}
}

@media screen and (min-width: 561px) and (max-width: 758px) {
	.book-profile-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		max-width: 1200px;
		margin: 90px 30px;
		grid-gap: 50px;
	}
}

@media screen and (max-width: 560px) {
	.book-profile-container {
		display: flex;
		flex-direction: column;
		max-width: 600px;
		margin: 90px 30px 30px;

		.original-book {
			display: block;
			margin: 0 auto;
			width: 210px !important;

			.book-images {
				width: 210px !important;
				height: 17rem !important;
			}

			.favorite-option {
				justify-content: center;

				.fa-bookmark {
					margin-top: 5px;
				}
			}

			.react-star {
				justify-content: center;
			}

			#image-error-placeholder {
				width: 210px !important;
				height: 15rem !important;
				line-height: 15rem;
				border: 1px solid #d4d4d4;
				border-radius: 4px;
				display: block;
				margin: auto;
			}
		}

		.book-retrieve-error {
			width: 100%;
			max-width: 400px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			text-align: center;
		}
	}

	.book-profile-more {
	  display: flex;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;

		.child-elem {
			.book-images {
				width: 150px !important;
				height: 10rem !important;
			}

			.book-footer {
				width: 150px !important;
				height: 7rem !important;
			}

			#image-error-placeholder {
				width: 150px !important;
				height: 11rem !important;
				line-height: 11rem;
				border: 1px solid #d4d4d4;
				border-radius: 4px;
				display: block;
				margin: auto;
			}
		}
	}

	.review-card, .reply-card {
		grid-gap: 10px;
	}

	.add-review-form {
		margin-top: -30px !important;
		grid-column: span 2;
	}
}

.book-meta {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.book-retrieve-error {
	width: 100%;
	max-width: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	letter-spacing: 1px;
}

.favorite-action-button {
	cursor: pointer;
}
