.favorite-option {
	margin-top: 30px;
	display: flex;

	i {
		margin-right: 10px;
	}
}

.original-book {
	.child-elem {
		pointer-events: none;
	}
}

@media screen and (min-width: 960px) {
	.book-profile-container {
		display: grid;
		grid-template-columns: 200px 3fr 2fr;
		max-width: 1100px;
		margin: 90px auto 20px auto;
		grid-gap: 40px;

		.original-book {
			width: 190px !important;

			#image-error-placeholder {
				width: 190px !important;
				height: 17rem !important;
				line-height: 17rem;
				border: 1px solid #d4d4d4;
				border-radius: 4px;
			}

			.book-images {
				height: 17rem !important
			}
		}

		.book-profile-more {
			display: grid;
			grid-template-columns: 150px 150px;
			grid-gap: 0 20px;

			.child-elem {
				.book-images {
					width: 150px !important;
					height: 12rem !important;
				}

				.book-footer {
					width: 150px !important;
					height: 7rem !important;
				}

				#image-error-placeholder {
					width: 150px !important;
					height: 13rem !important;
					line-height: 13rem;
					border: 1px solid #d4d4d4;
					border-radius: 4px;
				}
			}
		}

		.genre {
			grid-column: 3 / span 1;
			grid-row: 3 / span 1;
			display: inline;
			margin: 0 0 50px 0 !important;

			.genre-search {
				margin: 0 !important;

				.ant-input {
					padding: 11px !important;
					width: 330px !important;
				}
			}
		}

		.book-profile-more div {
			grid-gap: 20px;
		}

		.add-review-form {
			grid-column: span 2;
		}

		.review-card {
			grid-column: 1 / span 2;
		}
	}
}

@media screen and (min-width: 760px) and (max-width: 959px) {
	.book-profile-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		max-width: 959px;
		margin: 90px 30px;
		grid-gap: 50px;
	}
}

@media screen and (min-width: 561px) and (max-width: 758px) {
	.book-profile-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		max-width: 1200px;
		margin: 90px 30px;
		grid-gap: 50px;
	}
}

@media screen and (min-width: 960px) and (max-width: 1200px) {
	.book-profile-container {
		display: grid;
		grid-template-columns: 230px 2fr 1fr;
		max-width: 1000px;
		margin: 90px auto 20px auto;
		grid-gap: 50px;
	}
}

@media screen and (max-width: 375px) {
	.book-profile-more {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 0 20px !important;

		.child-elem {
			.book-images, .book-footer {
				width: 150px !important;
				height: 12rem !important;
			}
		}
	}

	.add-review-form {
		margin-top: -100px !important;
	}
}

@media screen and (max-width: 560px) {
	.book-profile-container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		max-width: 1200px;
		margin: 90px 30px;
		grid-gap: 50px;

		.original-book {
			width: 210px !important;

			.book-images {
				width: 210px !important;
				height: 17rem !important;
			}

			#image-error-placeholder {
				width: 210px !important;
				height: 15rem !important;
				line-height: 15rem;
				border: 1px solid #d4d4d4;
				border-radius: 4px;
			}
		}

		.genre {
			grid-column: 3 / span 1;
			grid-row: 3 / span 1;
			display: inline;
			padding: 20px 0 0 0 !important;

			.genre-search {
				margin: 0 !important;

				.ant-input {
					padding: 11px !important;
					width: 330px !important;
				}
			}
		}

		.book-retrieve-error {
			width: 100%;
			max-width: 400px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			text-align: center;
		}
	}

	.book-profile-more {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin: auto;
		grid-gap: 0 55px;

		.child-elem {
			.book-images {
				width: 150px !important;
				height: 10rem !important;
			}

			.book-footer {
				width: 150px !important;
				height: 7rem !important;
			}

			#image-error-placeholder {
				width: 150px !important;
				height: 11rem !important;
				line-height: 11rem;
				border: 1px solid #d4d4d4;
				border-radius: 4px;
			}
		}
	}

	.review-card, .reply-card {
		grid-gap: 10px;
	}

	.add-review-form {
		margin-top: -30px !important;
		grid-column: span 2;
	}

	.review-action-buttons {

	}
}

.book-meta {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.book-retrieve-error {
	width: 100%;
	max-width: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.favorite-action-button {
	cursor: pointer;
}