.reply-card {
  display: flex;
  width: 100%;
  max-width: 800px;
  margin: 20px 0 25px;

  .form-control {
    font-size: unset;
  }

	.footer {
		display: flex;

		.reviewer-buttons {
			display: flex;
		}
	}
}
