.add-review-form {
	width: 100%;
  max-width: 600px;
  margin: auto;
  margin-top: 50px;

  .form-control {
    font-size: unset;
  }
}

.review-card {
	display: flex;
	flex-direction: row;
  width: 100%;
  max-width: 700px;
  margin: auto;
	margin-bottom: 15px;

	.review-avatar {
		margin-right: 15px;
	}

	.review-details {
		max-width: 600px;
		width: 100%;
	}

	.footer {
		display: flex;
		padding-top: 10px;

		p {
			margin-right: 20px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
		}

    .like-count {
      cursor: default;
      padding-right: 10px;
      vertical-align: top;
    }

		.danger {
			color: $red_2;
		}

		.reviewer-buttons {
			display: flex;
		}
	}

	.review-time, #star-rating {
		padding-left: 40px;
	}
}

#reply-form:last-child {
	display: block;
}

.avatar-placeholder {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	font-size: 20px;
	color: $white_1;
	text-align: center;
	line-height: 45px;
}

@media screen and (max-width: 560px) {
  .review-card {
    .review-time, #star-rating {
      padding-left: 15px;
    }
  }
}
