.add-review-form {
	width: 100%;
	max-width: 600px;
	margin-top: 30px;
}

.review-card {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-bottom: 15px;

	.review-avatar {
		margin-right: 15px;
	}

	.review-details {
		max-width: 600px;
		width: 100%;
	}

	.footer {
		display: flex;
		padding-top: 10px;

		p {
			margin-right: 20px;
			cursor: pointer;
		}

		p:hover {
			text-decoration: underline;
		}

		.danger {
			color: red;
		}

		.reviewer-buttons {
			display: flex;
		}
	}

	#star-rating {
		padding-top: 15px;
	}
}

#dome:last-child {
	display: block;
}

.avatar-placeholder {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	font-size: 20px;
	color: #fff;
	text-align: center;
	line-height: 45px;
}