.review-card {
	display: grid;
	grid-template-columns: 1fr 9fr;
	width: 100%;
	// max-width: 700px;
	// margin: auto;
	// overflow-y: scroll;
	// max-height: 800px;
	// grid-gap: 0 15px;
	// scroll-behavior: smooth;

	.footer {
		display: flex;
		padding-top: 10px;

		p {
			margin-right: 20px;
			cursor: pointer;

			.fa-thumbs-up {
				font-size: 20px;
			}
		}

		p:hover {
			text-decoration: underline;
		}

		.danger {
			color: red;
		}

		.reviewer-buttons {
			display: flex;
		}
	}

	#star-rating {
		padding-top: 15px;
	}
}

#dome:last-child {
	display: block;
	// margin-bottom: 100px;
}
#hello {
	// margin-top: 250px;
}

.avatar-placeholder {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	font-size: 20px;
	color: #fff;
	text-align: center;
	line-height: 45px;
}