.modal-header {
  background-color: #efefef !important;
}

.add-book-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 800px;
  margin: 0 auto;
  grid-gap: 20px;
}

@media screen and (max-width: 450px) {
	.add-book-form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 800px;
    margin: 0 auto;
    grid-gap: 20px;
  }
}

.save-button {
  width: 120px !important;
}

.ant-input {
  width: 215px !important;
  border: none !important;
}

.ant-calendar-picker .ant-input {
	background: linear-gradient(0deg,#009688 1px,rgba(0,150,136,0) 0),
	linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
	border-width: 1px;
	line-height: 1.5;
	height: 32px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 15px;
	/* border: 1px solid green !important; */
}

.ant-input:hover {
  border-color: transparent !important;
  border-right-width: 0 !important;
}

.ant-calendar-picker .ant-input:focus {
	outline: 0;
	box-shadow: none;
	border-color: transparent;
}