.modal-header {
  background-color: #efefef !important;
}

.add-book-form {
  display: flex;
  flex-direction: row;
  max-width: 800px;

  #image-upload {
    height: 220px;
    width: 180px;
    border-radius: 5px;
    border: 1px dashed;
    margin-top: 18px;
    margin-right: 30px;
  }

  .ant-input {
    width: 100% !important;
    border: 1px solid transparent !important;
  }

  .ant-calendar-picker {
    width: 100% !important;

    .ant-input {
      background: linear-gradient(0deg,#005C97 1px,rgba(0,150,136,0) 0),
      linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
      border-width: 1px;
      line-height: 1.5;
      height: 32px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 15px;
    }
  }

  .ant-input:hover {
    border-color: transparent !important;
    border-right-width: 0 !important;
  }

  .ant-calendar-picker .ant-input:focus {
    outline: 0;
    box-shadow: none;
    border-color: transparent;
  }

  .ant-select-selection {
    border: 1px solid transparent !important;
    background: linear-gradient(0deg,#005C97 1px,rgba(0,150,136,0) 0),
    linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
    border-width: 1px;
    line-height: 1.5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
  }

  .ant-select-open .ant-select-selection {
    outline-style:none !important;
    -webkit-box-shadow:none !important;
    box-shadow:none !important;
    border-color:transparent;
  }

  .ant-select-focused .ant-select-selection:focus {
    outline-style:none !important;
    -webkit-box-shadow:none !important;
    box-shadow:none !important;
    border-color:transparent;
  }

  .form-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .form-group {
			width: calc(1/2*100% - (1 - 1/2)*30px);
    }
  }

  .ant-select-dropdown {
    z-index: 2000 !important;
  }
}

@media screen and (max-width: 768px) {
  .modal-dialog {
    max-width: 675px !important;
    margin: 1.75rem auto;
  }

  .add-book-form {
    display: grid;
    grid-template-columns: 180px 3fr !important;
    max-width: 800px;
    grid-gap: 40px;

    .form-fields {
      display: block;
    }
  }
}

.save-button {
  width: 120px !important;
}

@media screen and (min-width: 576px) {
  .modal-dialog {
    max-width: 800px;
    margin: 1.75rem auto;
  }
}


@media screen and (max-width: 560px) {
  .add-book-modal {
    margin: auto 15px;
  }

  .add-book-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    
    .form-fields .form-group {
      width: 100%;
    }
  }
}