.password-reset {
  max-width: 400px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &__button {
    display: flex;
    justify-content: center;
    margin-top: 25px !important;
  }

  &__label {
    text-align: center;
  }
}

@media screen and (max-width: 560px) {
  .password-reset {
    max-width: 350px !important;
  }
}