.password-reset {
  max-width: 400px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .form-group {
    margin: auto;
    margin-bottom: 20px !important;

    li {
      list-style-type: none;

      i {
        position: absolute;
        top: 33px;
        right: 10px;
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    margin-top: 25px !important;
  }
}