.user-books, .favorite-books {
	&__header {
		display: flex;
		justify-content: space-between;
		max-width: 1170px;
		margin:	105px auto -30px auto;
	}
}

@media screen and (max-width: 500px) {
	.user-books, .favorite-books {
		&__header {
			margin:	105px 20px -40px 20px;
			justify-content: space-between;
		}
	}
}

@media screen and (min-width: 760px) and (max-width: 959px) {
	.user-books, .favorite-books {
		&__header {
			margin:	105px 116px -40px;
		}
	}
}
