.favorite-option {
	margin-top: 30px;
  display: flex;
  justify-content: center;

	i {
		margin-right: 10px;
	}
}

.preloader {
  width: 100%;
}

.original-book {
	.book__card {
    margin-top: 6px;
    pointer-events: none;

    &--footer {
      .react-star {
        justify-content: center;
      }
    }
  }
}

.book-retrieve-error {
	width: 100%;
	max-width: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
  letter-spacing: 1px;
  padding: 0 20px;

  label.btn {
    padding: 10px 25px;
  }
}

.favorite-action-button {
	cursor: pointer;
}

.book-profile {
  &-rating {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    margin-left: 35%;

    &-summary > span {
      font-size: 120px;
    }

    &-summary > div {
      margin-left: 20%;
      margin-top: -30px;
    }

    &-stats {
      margin-left: 30px;
      vertical-align: sub;
      margin-top: auto;

      &-child {
        display: flex;
        flex-direction: row;

        span {
          margin-left: 10px;
          margin-top: auto;
          font-size: 15px;
        }
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .container-content {
    display: flex;
    flex-direction: row;
    padding-top: 120px;
    flex-wrap: wrap;
    justify-content: space-between;

    .original-book {
      width: 170px;
      margin: auto;
      margin-bottom: 10px;

      .book__card {
        margin-bottom: unset;

        &--images {
          height: 17rem;
          margin: auto;
        }
      }
    }

    .book-profile {
      &-details {
        width: 700px;
      }

      &-more {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        max-width: 350px !important;

        .book__card {
          width: calc(1/2*100% - (1 - 1/2)*50px);
          margin-bottom: unset;

          &--images {
            width: 150px !important;
            height: 12rem !important;
          }

          &--footer {
            width: 150px !important;
            height: 7rem !important;
          }

          &--error-placeholder {
            width: 150px !important;
            height: 13rem !important;
            line-height: 13rem;
            border: 1px solid $grey_7;
            border-radius: 4px;
            display: block;
            margin: auto;
          }
        }
      }
    }

    .book-recommendation {
      min-width: 300px;
    }
  }
}

@media screen and (min-width: 760px) and (max-width: 959px) {
	.container-content {
		display: flex;
    flex-wrap: wrap;
		justify-content: space-between;

		.original-book {
			display: block;
			margin: 0 auto 20px auto;
			width: 250px !important;

			.book__card {
				&--images {
					width: 250px !important;
					height: 20rem !important;
				}
			}

			.favorite-option {
				justify-content: center;
			}

			.react-star {
				justify-content: center;
			}
		}

		.book-profile-details {
			margin-bottom: 30px;
		}

		.book-profile-more {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;

			.book__card {
				&--images {
					width: 200px !important;
					height: 16rem !important;
				}

				&--footer {
					width: 200px !important;
					height: 7rem !important;
				}

        &--error-placeholder {
					width: 250px !important;
					height: 16rem !important;
					line-height: 16rem;
					border: 1px solid $grey_7;
					border-radius: 4px;
					display: block;
					margin: auto;
				}
			}
		}
	}
}

@media screen and (max-width: 560px) {
	.container-content {
		display: flex;
    flex-direction: column;

		.original-book {
			display: block;
			margin: 0 auto;
      width: 210px !important;

      .book__card--images {
        height: 17rem;
        width: 210px !important;
        margin: auto;
      }

			.favorite-option {
				justify-content: center;

				.fa-bookmark {
					margin-top: 5px;
				}
			}

			&--error-placeholder {
				width: 210px !important;
				height: 15rem !important;
				line-height: 15rem;
				border: 1px solid $grey_7;
				border-radius: 4px;
				display: block;
				margin: auto;
			}
		}
  }

  .book-profile {
    &-rating {
      flex-direction: column;
      margin-top: 20px;
      margin-bottom: 70px;

      &-summary > span {
        margin-left: -10%;
        font-size: 100px;
      }

      &-summary > div {
        margin-left: unset;
      }

      &-stats {
        margin-left: -17%;
        vertical-align: sub;
        margin-top: 20px;
      }
    }

    &-more {
      display: flex;
      flex-direction: row;
      margin: auto;
      margin-top: 30px;
      flex-wrap: wrap;
      justify-content: space-between;

      .book__card {
        &--images {
          width: 150px !important;
          height: 12rem !important;
        }

        &--footer {
          width: 150px !important;
          height: 7rem !important;
        }

        &--error-placeholder {
          width: 150px !important;
          height: 11rem !important;
          line-height: 11rem;
          border: 1px solid $grey_7;
          border-radius: 4px;
          display: block;
          margin: auto;
        }
      }
    }
  }

	.add-review-form {
		margin-top: -30px !important;

    .form-control {
      font-size: unset;
    }
  }

  .book-recommendation {
    margin-top: 30px;
  }
}

.book-meta {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}
