.pending-verification {
  position: fixed;
  width: 100%;
  top: 0;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 18px;
	background-color: $yellow_2;
  color: $white_1;
  z-index: 20;
}

.pending-verification +
.navbar,

.pending-verification +
.navbar +
.leftsidebar,

.pending-verification +
.navbar +
.leftsidebar +
.container-content {
  margin-top: 50px;
}

@media screen and (max-width: 560px) {
  .pending-verification {
    height: unset;
    text-align: center;
    line-height: unset;
    font-size: 17px;
    background-color: $yellow_2;
    color: $white_1;
    padding: 10px 15px;
  }
}
