.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $grey_5;
  overflow-x: hidden;
  padding-top: 50px;
  transition: 0.5s;
  z-index: 10;

  div {
    padding: 8px 8px 8px 5px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    transition: 0.3s;
    font-weight: 100;

    .sidebar-navlink i {
      cursor: pointer;
      padding-right: 20px;
    }

    a {
      color: $black_1 !important;
    }

    &:hover {
      background-color: $grey_2;
      border-left: 5px solid $blue_2;
      border-bottom-left-radius: 10px;
    }
  }

  .user-account-mobile {
    padding-left: 0 !important;
    margin-top: 20px;

    div {
      pointer-events: none !important;
    }
  }
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-width: 560px) {
  .sidenav {
    padding-top: 15px;

    div {
      font-size: 18px;
    }

    .dropdown-item.active {
      border-left: 2px solid $blue_2;
      background-color: $grey_5 !important;
      color: $black_2;
    }
  }
}
