.sidenav {
  height: 100%;
  width: 270px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $white_1;
  overflow-x: hidden;
  padding-top: 50px;
  z-index: 10;
  box-shadow: 0 1px 1px 100vw rgba(0, 0, 0, 0.6);

  div {
    padding: 8px 8px 8px 5px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    font-weight: 100;
  }

  &-auth-buttons {
    padding-left: 20px !important;
    padding-bottom: 20px !important;
    border-bottom: 1px solid $blue_2;
    margin-bottom: 15px;
  }

  &-user-details {
    padding-bottom: 20px;
    border-bottom: 1px solid $blue_2;
    margin-bottom: 15px;

    .avatar {
      height: 70px;
      width: 70px;
      display: block;
      margin: auto;
      border: 1px solid;
    }

    .username {
      text-transform: capitalize;
      font-size: 20px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 560px) {
  .sidenav {
    padding-top: 15px;

    div {
      font-size: 18px;
    }

    a.dropdown-item.active {
      border-left: 2px solid $blue_2;
      background-color: transparent;
      color: $black_2;
    }
  }
}


.sidenav +
.navbar,

.sidenav +
.navbar +
.leftsidebar +
.container-content {
  pointer-events: none;
}
