.not-found {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__404 {
    font-size: 200px;
    transform: rotate(-5deg);
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 560px) {
  .not-found {
    &__404 {
      font-size: 160px;
    }
  }
}
