.navbar {
	padding: 0 !important;
	z-index: 2;
	min-height: 60px;
	box-shadow: $box_shadow_5;
}

.dropdown-toggle:after {
	margin: auto auto auto 5px;
	vertical-align: 0 !important;
}

.navbar-nav .nav-link {
	display: flex !important;
}

.dropdown-menu {
	min-width: 11rem;
}

.notification-pane {
	min-width: 17rem !important;
	min-height: 17rem !important;
}

.dropdown-item:hover {
	background-color: $grey_2 !important;
}

#background-layout {
	background: url('./assets/knowledge-centric.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	position: fixed;
	left: -50%;
	width: 200%;
	height: 200%;
	box-shadow: $box_shadow_1;
}

.product-title {
	font-size: 50px;
	margin-bottom: 15px;
	color: $white_1;
}

.auth-buttons {
	color: $white_1;
	position: absolute;
	-webkit-transform: translate(0%, -50%);
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	width: 100%;
	text-align: center;

	button {
		color: $white_1 !important;
		margin: 20px 15px 0 0;
		border: 1px solid $white_1 !important;
		border-radius: 5px;
		min-width: 150px;
		padding-top: 10px;
		padding-bottom: 10px;

		ion-icon {
			margin-right: 15px;
			font-size: 18px;
			color: $white_1;
			vertical-align: sub;
		}

		&:hover {
			border: 1px solid transparent !important;
			background-color: $blue_2 !important;
		}
	}
}

.quotation {
	font-size: 30px;
	margin: 0 auto;
	quotes: "\201C""\201D""\2018""\2019";
	padding: 10px 20px;
  line-height: 1.4;

	&:before {
		content: open-quote;
		display: inline;
		line-height: 0;
		left: -10px;
		position: relative;
		top: 30px;
		color: $grey_1;
		font-size: 3em;
  }

	&::after {
		content: close-quote;
		display: inline;
		line-height: 0;
		left: 10px;
		position: relative;
		top: 35px;
		color: $grey_1;
		font-size: 3em;
	}
}

.btn-outline-success {
	border: 1px solid transparent !important;
	margin-left: 10px;
}

.search {
	margin-left: auto;

	.form-input {
		width: 350px;
		outline: none;
		height: 40px;
		border: 1px solid $grey_3;
		border-radius: 20px;
		padding-left: 15px;
		padding-right: 25px;
		justify-content: center;
		color: $grey_3;
		font-size: 16px;

		&::placeholder {
			color: $grey_3;
		}
	}

	.close-icon {
		position: relative;
		left: -35px;
		color: $black_1;
		cursor: pointer;
		font-size: 22px;
		text-decoration: none;
		background: transparent;
		border: none;
		padding-right: 10px;

		&:hover {
			color: $black_1;
		}
	}
}

.pending-verification {
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 18px;
	background-color: $yellow_2;
	color: $white_1;
}

@media screen and (max-width: 560px) {
	.search {
		margin: 15px 0;
		display: flex;
		flex-direction: row;

		.form-input {
			width: 100%;

			&:focus {
				width: 100% !important;
			}

			&:not(:focus) {
				width: 100% !important;
			}
		}

		.close-icon {
			left: 0;
		}
	}

	.product-title {
		font-size: 30px;
		font-weight: bold;
	}

	.auth-buttons {
		div {
			display: flex;
			flex-direction: column;

			button {
				width: 100%;
				max-width: 250px;
				margin: 10px auto;
				padding: 15px 0;
				font-size: 17px;
			}
		}

		.auth-action-buttons {
			margin-top: 30px;
		}
	}

	.quotation {
		font-size: 22px;
	}

	.pending-verification {
		height: unset;
    text-align: center;
    line-height: unset;
    font-size: 17px;
    background-color: $yellow_2;
    color: $white_1;
    padding: 10px 15px;
	}
}

.avatar {
	vertical-align: middle;
	width: 30px;
	height: 30px;
	margin-top: 5px;
	border-radius: 50%;
}

#LoginFormModal, #SignUpForm, #AddBookModal {
	margin: auto;
	width: 100%;
}

.modal-dialog {
	max-width: 350px !important;
}

#AddBookModal {
	.modal-dialog {
		max-width: 700px !important;
	}
}

.modal .modal-content .modal-header {
  background-color: $white_1 !important;
	padding-bottom: 10px !important;
	border-bottom: 1px solid $grey_2 !important;
	border-top-left-radius: 15px !important;
	border-top-right-radius: 15px !important;
}

.modal-content {
	border-radius: 15px !important;
	box-shadow: unset !important;
}

.modal .modal-content .modal-footer {
	margin-bottom: 10px;
}

.nav-link {
  text-transform: none !important;
}

.btn {
  text-transform: none !important;
}

.user-profile-nav {
	display: flex;

	.user-profile-icon {
		margin-right: 20px;
	}
}

.modal-footer button {
	margin-right: 10px !important;
}

.checkbox {
	margin-top: 10px;
}

.social-login-text {
	padding-top: 11px;
	padding-right: 12px;
}

.social-login {
	display: flex;
	justify-content: center;
	margin: 20px auto -10px auto;

	button {
		padding: 7px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px -px 2px;
		border-radius: 50%;
		background-color: unset !important;

		i {
      box-shadow: $box_shadow_2;

      &:hover {
        box-shadow: $box_shadow_3;
      }
		}

		.fa-google {
			background: $red_1;
			color: $white_1;
		}

		.fa-facebook-f {
			background: $blue_1;
			color: $white_1;
		}

		.google-icon {
			padding: 7px;
			font-size: 15px;
			text-align: center;
			text-decoration: none;
			margin: 5px 2px -px 2px;
			border-radius: 50%;
		}

		.facebook-icon {
			padding: 7px 10px;
			font-size: 15px;
			text-align: center;
			text-decoration: none;
			margin: 5px 2px -px 2px;
			border-radius: 50%;
		}
	}
}

.form-group {
	position: relative;
	input:-webkit-autofill {
    box-shadow: $box_shadow_6;
    -webkit-box-shadow: $box_shadow_6;
	}

  #password-icon {
    position: absolute;
    top: 34px;
		right: 9px;
    cursor: pointer;

    &:focus {
      outline: 0;
      box-shadow: none;
      border-color: transparent;
    }
	}
}

.validation-error {
	color: $red_2;
}

.swal2-top-end {
  font-weight: 100 !important;
  color: $red_2;
}

.error-action {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;

	a {
		color: $blue_2;
	}
}

.custom-file-control,
.form-control,
.is-focused
.custom-file-control,
.is-focused
.form-control {
	background-image: linear-gradient(0deg, $blue_2 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.2) 1px,transparent 0);
}

.is-focused [class*=bmd-label],
.is-focused[class^=bmd-label] {
	color: $blue_2 !important;
}
