$color_1: white;
$color_2: #ccc;
$color_3: #ffaf00;
$font_family_1: georgia, sans-serif;
$border_color_1: white;
$border_color_2: #ffaf00;

* {
	font-family: $font_family_1;
}

.bg-light {
  background-color: #e0e0e0 !important;
}

.hide {
	display: none;
}

.navbar {
	box-shadow: none !important;
	padding: 0 !important;
	z-index: 2;
	height: 57px;
}

.dropdown-toggle:after {
	vertical-align: 0 !important;
}

.user-detail {
	padding: .8rem 0 .8rem 1.5rem;
	font-weight: 600;
	color: #585757;
	font-size: 14px;
}

.dropdown-menu {
	min-width: 11rem;
}

.dropdown-item:hover {
	background-color: #efefef !important;
}

#demo-layout-transparent {
	background: url('../../assets/beverage-books.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	// overflow: hidden;
	position: fixed;
	left: -50%;
	width: 200%;
	height: 200%;
	box-shadow: inset 0 0 0 1000px rgba(29, 29, 29, 0.6);
}

.product-title {
	font-size: 50px;
	margin-bottom: 15px;
	color: white;
}

.mdl-auth-buttons {
	display: grid;
	grid-template-columns: 1fr;
	color: $color_1;
	max-width: 600px;
	margin: 0 auto;
	grid-gap: 20px;
	position: absolute;
  transform: translate(0%, -50%);
	-ms-transform: translate(-50%, -50%);
	left: 10%;
	top: 50%;
	button {
		color: white !important;
		margin: 20px 15px 0 0;
		border: 1px solid white !important;
		border-radius: 5px;
	}
}

.quotation {
	font-size: 30px;
	margin: 0 auto;
	quotes: "\201C""\201D""\2018""\2019";
	padding: 10px 20px;
	line-height: 1.4;
	&:before {
		content: open-quote;
		display: inline;
		line-height: 0;
		left: -10px;
		position: relative;
		top: 30px;
		color: $color_2;
		font-size: 3em;
	}
	&::after {
		content: close-quote;
		display: inline;
		line-height: 0;
		left: 10px;
		position: relative;
		top: 35px;
		color: $color_2;
		font-size: 3em;
	}
}
.search-button {
	border-color: $border_color_1;
	color: #868282 !important;
	height: 36px;
	&:hover {
		border-color: $border_color_2;
		color: $color_3;
	}
}
.btn-outline-success {
	border: none !important;
	margin-left: 10px;
}
.search-bar {
	width: 300px !important;
}

.avatar {
	vertical-align: middle;
	width: 30px;
	height: 30px;
	margin-top: 5px;
	border-radius: 50%;
}

#LoginFormModal, #SignUpFormModal {
	max-width: 400px !important;
	margin: auto;
}

.modal-header {
  background: #efefef !important;
  padding-bottom: 10px !important;
}

.nav-link {
  text-transform: none !important;
}

.btn {
  text-transform: none !important;
}

.user-profile-nav {
	display: flex;
}

.modal-footer button {
	margin-right: 10px !important;
}

.user-profile-navlink {
	display: flex;
	justify-content: space-between;
}

.checkbox {
	margin-top: 10px;
}

.social-login-text {
	padding-top: 11px;
	padding-right: 12px;
}

.social-login {
	display: flex;
	justify-content: center;
	padding-top: 10px;

	button {
		padding: 7px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px -px 2px;
		border-radius: 50%;
		margin-right: 10px;

		i {
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		}

		i:hover {
			box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		}

		.fa-google {
			background: #dd4b39;
			color: white;
		}

		.fa-facebook-f {
			background: #3a4d84;
			color: white;
		}

		.google-icon {
			padding: 7px;
			font-size: 15px;
			text-align: center;
			text-decoration: none;
			margin: 5px 2px -px 2px;
			border-radius: 50%;
		}

		.facebook-icon {
			padding: 7px 10px;
			font-size: 15px;
			text-align: center;
			text-decoration: none;
			margin: 5px 2px -px 2px;
			border-radius: 50%;
		}
	}
}

.form-group {
	// margin: auto;
	input:-webkit-autofill {
    box-shadow: 0 0 0 30px white inset;
    -webkit-box-shadow: 0 0 0 30px white inset;
	}

	li {
		list-style-type: none;

		i {
			position: absolute;
			top: 35px;
			right: 10px;
			cursor: pointer;
		}
	}
}

.validation-error {
	color: red;
}

.swal2-top-end {
  font-weight: 100 !important;
  color: red;
}

.pending-verification {
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 22px;
	background-color: #ff8d00;
	color: white;
}

.error-action {
	display: flex;
	justify-content: space-between;
}