.App {
  .navbar {
    padding: 0;
    z-index: 2;
    min-height: 60px;
    box-shadow: $box_shadow_5;
    justify-content: space-between;
    background: $white_1;

    .container {
      margin: 0;
      max-width: 100%;
    }

    &-brand {
      margin-left: 0.5rem;
      color: $black_2;
    }

    .dropdown-menu {
      left: unset;
      right: 10%;
    }
  }

  .dropdown-toggle:after {
    margin: auto auto auto 5px;
    vertical-align: 0;
  }

  .navbar-nav .nav-link {
    display: flex;
  }

  .dropdown-item:hover {
    background-color: $grey_2;
  }

  .app-title {
    font-size: 50px;
    margin-bottom: 15px;
    color: $white_1;
  }

  .auth-buttons {
    color: $white_1;
    position: absolute;
    -webkit-transform: translate(0%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 100%;
    text-align: center;

    .unsplash-mention {
      background-color: white;
      color: black;
      text-decoration: none;
      padding: 4px 6px;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.5;
      display: flex;
      border-radius: 3px;
      position: absolute;
      bottom: -100%;
      left: 2%;
      justify-content: center;
    }

    button {
      color: $white_1;
      margin: 20px 15px 0 0;
      border: 1px solid $white_1;
      border-radius: 5px;
      min-width: 150px;
      padding-top: 10px;
      padding-bottom: 10px;

      ion-icon {
        margin-right: 15px;
        font-size: 18px;
        color: $white_1;
        vertical-align: sub;
      }

      &:hover {
        border: 1px solid transparent;
        background-color: $blue_2;
        color: $white_1;
      }

      &:focus {
        box-shadow: unset;
        border-color: $white_1;
        background-color: unset;
        color: $white_1;
      }
    }
  }

  .modal-dialog {
    max-width: 350px;
  }

  #AddBookModal {
    .modal-dialog {
      max-width: 700px;
    }
  }

  .modal {
    .modal-header {
      background-color: $white_1;
      padding-bottom: 10px;
      border-bottom: 1px solid $grey_2;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    .modal-content {
      border-radius: 15px;
      box-shadow: unset;
    }

    .modal-footer {
      margin-bottom: 10px;

      .btn {
        margin-right: 10px;
      }
    }
  }

  .nav-link {
    text-transform: none;
  }

  .btn {
    text-transform: none;
  }

  .user-profile-nav {
    display: flex;

    .user-profile-icon {
      margin-right: 20px;
    }
  }

  .checkbox {
    margin-top: 10px;
  }

  .social-login {
    &-text {
      padding-top: 11px;
      padding-right: 12px;
      color: $black_1;
    }

    display: flex;
    justify-content: center;
    margin: 20px auto -10px auto;

    button {
      padding: 7px;
      font-size: 15px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
      background-color: transparent;

      i {
        box-shadow: $box_shadow_2;

        &:hover {
          box-shadow: $box_shadow_3;
        }
      }

      .fa-google {
        background: $red_1;
        color: $white_1;
      }

      .fa-facebook-f {
        background: $blue_1;
        color: $white_1;
      }

      .google-icon {
        padding: 7px;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px -px 2px;
        border-radius: 50%;
      }

      .facebook-icon {
        padding: 7px 10px;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px -px 2px;
        border-radius: 50%;
      }
    }
  }

  .form-group {
    position: relative;
    input:-webkit-autofill {
      box-shadow: $box_shadow_6;
      -webkit-box-shadow: $box_shadow_6;
    }

    #password-icon {
      position: absolute;
      top: 34px;
      right: 9px;
      cursor: pointer;

      &:focus {
        outline: 0;
        box-shadow: none;
        border-color: transparent;
      }
    }
  }

  .validation-error {
    color: $red_2;
  }

  .swal2-top-end {
    font-weight: 100 !important;
    color: $red_2;
  }

  .error-action {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    a {
      color: $blue_2;
    }
  }

  .custom-file-control,
  .form-control,
  .is-focused
  .custom-file-control,
  .is-focused
  .form-control {
    background-image: linear-gradient(0deg, $blue_2 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.2) 1px,transparent 0);
  }

  .is-focused [class*=bmd-label],
  .is-focused[class^=bmd-label] {
    color: $blue_2 !important;
  }
}

#background-layout {
  background: url('./assets/knowledge-centric.jpg')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  position: fixed;
  left: -50%;
  width: 200%;
  height: 200%;
  box-shadow: $box_shadow_1;
}

.quotation {
	font-size: 30px;
	margin: 0 auto;
	quotes: "\201C""\201D""\2018""\2019";
	padding: 10px 20px;
  line-height: 1.4;

	&:before {
		content: open-quote;
		display: inline;
		line-height: 0;
		left: -10px;
		position: relative;
		top: 30px;
		color: $grey_1;
		font-size: 3em;
  }

	&::after {
		content: close-quote;
		display: inline;
		line-height: 0;
		left: 10px;
		position: relative;
		top: 35px;
		color: $grey_1;
		font-size: 3em;
	}
}

.btn-outline-success {
	border: unset !important;
	margin-left: 10px;
}

.search {
	margin-left: auto;

	.form-input {
		width: 350px;
		outline: none;
		height: 40px;
		border: 1px solid $grey_3;
		border-radius: 15px;
		padding-left: 15px;
		padding-right: 25px;
		justify-content: center;
		color: $grey_3;
		font-size: 16px;

		&::placeholder {
			color: $grey_3;
		}
	}

	.close-icon {
		position: relative;
		left: -35px;
		color: $black_1;
		cursor: pointer;
		font-size: 22px;
		text-decoration: none;
		background: transparent;
		border: none;
		padding-right: 10px;

		&:hover {
			color: $black_1;
		}
	}
}

.pending-verification {
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 18px;
	background-color: $yellow_2;
	color: $white_1;
}

@media screen and (max-width: 560px) {
  .App {
    .search {
      margin: 15px 0;
      display: flex;
      flex-direction: row;

      .form-input {
        width: 100%;

        &:focus {
          width: 100% !important;
        }

        &:not(:focus) {
          width: 100% !important;
        }
      }

      .close-icon {
        left: 0;
      }
    }

    #login-button {
      margin-left: unset;
      margin-top: 15px;
    }

    #signup-button {
      margin-top: 15px;
    }

    .modal {
      padding-left: 20px;
      padding-right: 20px;
    }

    .app-title {
      font-size: 30px;
      font-weight: bold;
    }

    .auth-buttons {
      .unsplash-mention {
        display: none;
      }

      div {
        display: flex;
        flex-direction: column;

        button {
          width: 100%;
          max-width: 250px;
          margin: 10px auto;
          padding: 15px 0;
          font-size: 17px;
        }
      }

      .auth-action-buttons {
        margin-top: 30px;
      }
    }

    .quotation {
      font-size: 22px;
    }

    .pending-verification {
      height: unset;
      text-align: center;
      line-height: unset;
      font-size: 17px;
      background-color: $yellow_2;
      color: $white_1;
      padding: 10px 15px;
    }
  }
}

.avatar {
	vertical-align: middle;
	width: 30px;
	height: 30px;
	margin-top: 5px;
	border-radius: 50%;
}

#LoginFormModal, #SignUpForm, #AddBookModal {
	margin: auto;
	width: 100%;
}
