@media (max-width: 500px) {
  .navbar-collapse ul {
    display: none !important;
  }

  #navbarSupportedContent .bmd-form-group {
    width: 85%;
  }
}

@media (min-width: 600px) {
  .container .mobile-nav {
    display: none !important;
  }
}

.cart-navbar {
  margin-top: 20px;
  padding-right: 20px;
  color: #868282 !important;
  cursor: pointer;

  span {
    position: absolute;
    top: 10px;
    font-size: 14px;
    color: #000;
  }
}

.fa-search {
  padding-right: 10px;
  color: #8a8a8a;
}