.navbar {
  justify-content: space-between !important;

  .container {
    margin: 0;
    max-width: 100%;
  }

  &-brand {
    margin-left: 0.5rem;
  }

  .dropdown-menu {
    left: unset !important;
    right: 10%;
  }
}

@media (min-width: 600px) {
  .container .mobile-nav {
    display: none !important;
  }
}

@media screen and (max-width: 758px) {
  .close-icon {
    left: 0;
  }

  .navbar-collapse {
    ul {
      display: none !important;
    }
  }

  .sidenav-collapse {
    display: none !important;
  }

  #navbarSupportedContent .bmd-form-group {
    width: 100%;
  }

  .navbar {
    padding: 1rem 1rem !important;
    
    &-brand {
      margin-left: 0 !important;
      padding-top: 0;
    }
  }
}

.sidenav-collapse {
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-left: 10px !important;
  padding: 0 !important;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  ion-icon {
    font-size: 25px;
  }

  &:focus {
    outline: 0;
    box-shadow: none;
    border-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px, rgba(0, 0, 0, 0.1) 0px 4px 30px;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px, rgba(0, 0, 0, 0.1) 0px 4px 30px;
    cursor: pointer;
  }
}

.user-detail {
	padding: .8rem 0 .8rem 1.5rem;
	font-weight: 600;
	color: rgba(0, 0, 0, .8);
	font-size: 14px;
}

.user-toggle {
  .avatar-placeholder {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
  }
}
