@media (max-width: 560px) {
  .container .mobile-nav {
    background: transparent;
    border: none;
  }
}

@media (min-width: 600px) {
  .container .mobile-nav {
    display: none !important;
  }
}

@media screen and (max-width: 758px) {
  .App {
    .navbar-collapse {
      ul {
        display: none !important;
      }
    }

    .sidenav-collapse {
      display: none !important;
    }

    #navbarSupportedContent .bmd-form-group {
      width: 100%;
    }

    .navbar {
      padding: 1rem 1rem !important;

      &-brand {
        margin-left: 0 !important;
        padding-top: 0;
      }
    }
  }
}

.user {
  &-detail {
    padding: .8rem 0 .8rem 1.5rem;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
  }

  &-toggle {
    .avatar-placeholder {
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 15px;
    }
  }
}

.logout-button {
  cursor: pointer;
}
