.container-content {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 100px 140px 0 140px;
  justify-content: space-between;
  height: 100%;

  .book__card {
    flex-basis: 18%;
    margin-bottom: 65px;
  }
}

@media screen and (min-width: 760px) and (max-width: 959px) {
	.container-content {
    padding: 100px 100px 0 100px;

		.book__card {
			margin-bottom: 50px;
		}
	}
}

@media screen and (min-width: 561px) and (max-width: 758px) {
	.container-content {
    flex-direction: row;

		.book__card {
			width: calc(1/3*100% - (1 - 1/3)*40px);
      margin-bottom: 25px;

			&--error-placeholder {
				width: 125px !important;
				height: 10rem !important;
				line-height: 10rem;
				border: 1px solid $grey_2;
				border-radius: 4px;
				margin-top: 15px;
				display: block;
				margin: auto;
			}
    }

    .user-books {
      &__header {
        display: none;
      }
    }
	}
}

@media screen and (max-width: 560px) {
	.container-content {
    flex-direction: row;
    padding: 100px 20px 0 20px;

		.book__card {
      flex-basis: 45%;
      margin-bottom: 50px;

			&--error-placeholder {
				width: 155px !important;
				height: 13rem !important;
				line-height: 13rem;
				border: 1px solid $grey_2;
				border-radius: 4px;
				margin-top: 15px;
				display: block;
				margin: auto;
			}
		}
	}

	.user-books {
		&__header {
			display: none;
		}
	}
}

@media screen and (max-width: 375px) {
  .App {
    .container-content {
      padding: 100px 15px 0 15px;

      .book__card {
        margin-bottom: 20px;

        &--images {
          width: 150px;
          height: 13rem;
        }

        &--error-placeholder {
          width: 155px !important;
          height: 13rem !important;
          line-height: 13rem;
          border: 1px solid $grey_2;
          border-radius: 4px;
          margin-top: 15px;
          display: block;
          margin: auto;
        }
      }
    }
  }
}

.fetch-error {
	margin: 100px auto;
}

#scrollToElement {
  flex-basis: 100%;
  margin-bottom: 20px;
}
