.book__card {
  &--images {
    width: 170px;
		height: 15rem;
    border-radius: 4px;
	}

	&--footer {
		width: 170px;

		&-link {
			display: flex;
			justify-content: space-between;

			i {
				padding-top: 5px;
				position: relative;
				top: 18px;
			}
		}

		&-title {
			position: relative;
			font-size: 15px;
			top: 18px;
			color: $grey_4 !important;
			font-weight: 100;
		}

		.react-star {
			position: relative;
			top: 23px;
			display: flex;

			p {
				padding-left: 10px;
			}
		}
  }

  &--author {
    position: relative;
    font-weight: 600;
    top: 20px !important;
  }

  .fa-ellipsis-v {
    cursor: pointer;
  }
}

button#trash-icon {
	color: $red_2 !important;
}

#book-action-buttons {
	padding: 0;
	min-width: 9rem !important;

	.book-action-navlink {
		display:	flex;
		justify-content: space-between;
		top: 0 !important;
		padding: 0 1rem;
		cursor: pointer;

		i {
			top: 0 !important;
		}
	}
}
