.book-images {
	border-radius: 4px;
}

.parent {
	position: relative;
}

.child-elem {
	.book-images {
		width: 170px;
		height: 15rem;
	}

	.book-footer {
		width: 170px;

		&__link {
			display: flex;
			justify-content: space-between;

			i {
				padding-top: 5px;
				position: relative;
				top: 18px;
			}
		}

		a {
			position: relative;
			font-size: 15px;
			top: 18px;
			color: #575656 !important;
			font-weight: 100;
		}

		.react-star {
			position: relative;
			top: 23px;
			display: flex;

			p {
				padding-left: 10px;
			}
		}

		.book-author {
			position: relative;
			font-weight: 600;
			top: 20px !important;
		}
	}
}

#subchild {
	position: absolute;
	width: 100%;
	max-width: 252px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

button#trash-icon {
	color: red !important;
}

#book-action-buttons {
	padding: 0;
	min-width: 9rem !important;

	.book-action-navlink {
		display:	flex;
		justify-content: space-between;
		top: 0 !important;
		padding: 0 1rem;
		cursor: pointer;

		i {
			top: 0 !important;
		}
	}
}