.user-books, .favorite-books {
	&__header {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    padding-bottom: 30px;

    .btn {
      max-height: 50px;
    }
	}
}

.pending-verification +
.navbar +
.leftsidebar +
.user-books,

.pending-verification +
.navbar +
.leftsidebar +
.favorite-books {
	&__header {
    padding-top: 160px;
	}
}

@media screen and (max-width: 560px) {
	.user-books, .favorite-books {
		&__header {
      display: flex;
      flex-basis: 100%;
			justify-content: space-between;
		}
	}
}
