.table-panel {
  max-width: 950px;
  width: 100%;

  &__user-delete {
    min-width: 9rem !important;
    padding: 0 !important;
  }

  tr {
    &:hover {
      box-shadow: $box_shadow_7;
    }
  }
}
