.password-update {
  grid-column: 2 / span 1;

  h5 {
    padding: 50px 0 10px 0;
  }

  .form-group {
    margin-bottom: 20px;

    #update-password {
      display: block;
      width: 140px;
      margin-left: auto;
    }
  }
}