.action-buttons {
  display: flex;
  justify-content: flex-end;

  #cancel-button {
    margin-right: 15px;

    i {
      padding-right: 10px;
    }
  }
}

#show-image {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  margin-right: 20px;
}

.image-previewer {
  img {
    object-fit: cover;
  }

  button {
    margin-top: 15px !important;
    width: 120px;
    display: block;
    margin: auto;
  }
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  margin-bottom: 50px;
  padding-top: 80px;

  h4 {
    padding-bottom: 30px;
  }

  #edit-button {
    display: block;
    width: 140px;
    margin-left: auto;
  }

  &__image {
    margin: 20px auto;
  }

  &__info {
    width: 500px;
  }
}

.profile-update {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 100px auto 0 auto !important;
  justify-content: space-between;

  .profile-upload {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #image-upload {
      width: 60%;
      margin-right: 30px;
    }

    .update-form {
      width: 140%;
    }
  }

  .password-update {
    width: 45%;
  }

  .form-group {
    margin-bottom: 30px;

    #update-button {
      display: block;
      width: 140px;
      margin-left: auto;
    }
  }

  .skeleton-button {
    margin-right: -10px;
  }
}

@media screen and (max-width: 560px) {
  .profile-update {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 60px auto !important;

    .profile-details {
      width: 100%;
      flex-direction: column;

      &__image {
        width: 100%;
        margin: 20px auto;

        #show-image {
          margin: 0 auto;
          display: block;
        }
      }

      &__info {
        width: 100%;
        max-width: 500px;
      }
    }

    .profile-upload {
      width: 100%;
      display: flex;
      flex-direction: column;

      #image-upload {
        width: 100%;
        margin: 0 auto;
      }

      .update-form {
        width: 100%;
      }
    }

    .password-update {
      width: 100%;
    }
  }

  .password-update {
    margin-top: 30px;
  }

  #image-upload {
    width: 200px !important;
  }
}
