.user-analytics {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto !important;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;

  div {
    border-radius: 12px;
    height: 160px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.1);
    width: calc(1/3 * 100% - (1 - 1/3) * 100px);
    margin-bottom: 30px;

    h4 {
      padding-top: 20%;
    }

    span {
      font-size: 25px;
    }
  }
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  h4 {
    padding-bottom: 30px;
  }

  #edit-button {
    display: block;
    width: 140px;
    margin-left: auto;
  }

  &__image {
    margin: 20px auto;
  }

  &__info {
    width: 500px;
  }
}

.profile-update {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 100px auto !important;
  justify-content: space-between;

  .profile-upload {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #image-upload {
      width: 60%;
      margin-right: 30px;
    }

    .update-form {
      width: 140%;
    }
  }

  .password-update {
    width: 45%;
  }

  .form-group {
    margin-bottom: 30px;

    #update-button {
      display: block;
      width: 140px;
      margin-left: auto;
    }
  }

  .skeleton-button {
    margin-right: -10px;
  }
}

.action-buttons {
  display: flex;
  justify-content: flex-end;

  #cancel-button {
    margin-right: 15px;

    i {
      padding-right: 10px;
    }
  }
}

@media screen and (max-width: 560px) {
  .user-analytics {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: 50px auto !important;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;

    &__child {
      width: 45%;
      margin-bottom: 30px;

      h4 {
        padding-top: 25%;
      }
    }

  }

  .profile-update {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 60px auto !important;
  }

  .password-update {
    margin-top: 30px;
  }

  .profile-upload {
    display: grid;
    grid-template-columns: 3fr;
  }

  #image-upload {
    width: 200px !important;
  }
}

#show-image {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  margin-right: 20px;
}

.image-previewer {
  img {
    object-fit: cover;
  }

  button {
    margin-top: 15px !important;
    width: 120px;
    display: block;
    margin: auto;
  }
}