$white_1: #FFFFFF;

$grey_1: #CCCCCC;
$grey_2: #efefef;
$grey_3: #4c4c4c;
$grey_4: #575656;
$grey_5: #f3f3f3;
$grey_6: #dddcdc;
$grey_7: #d4d4d4;
$grey_8: #adabab;

$yellow_1: #FFAF00;
$yellow_2: #ff8d00;

$black_1: #212529;
$black_2: rgba(0,0,0,.9);
$black_3: rgba(0,0,0,.5);
$black_4: #121519;

$red_1: #dd4b39;
$red_2: #ff0000;
$red_3: #e62a2a;

$blue_1: #3a4d84;
$blue_2: #005C97;

$box_shadow_1: inset 0 0 0 1000px rgba(29, 29, 29, 0.6);
$box_shadow_2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$box_shadow_3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$box_shadow_4: rgba(0, 0, 0, 0) 0px 2px 10px, rgba(0, 0, 0, 0.1) 0px 3px 25px;
$box_shadow_5: rgba(0, 0, 0, 0.1) 0px 5px 15px, rgba(0, 0, 0, 0.1) 0px 4px 30px;
$box_shadow_6: 0 0 0 30px $white_1 inset;
$box_shadow_7:  0 1px 3px rgba(0,0,0,0.13), 0 1px 3px rgba(0,0,0,0.20);
