[data-theme="dark"] {
  .App {
    background: $black_1;
    color: $white_1;

    .dark-mode {
      &-icon {
        transform: rotate(180deg);
        color: $white_1;
      }
    }

    .mobile-nav {
      ion-icon {
        color: $white_1;
      }
    }

    a {
      color: $white_1;
    }

    nav.navbar {
      background: $black_4;

      .dropdown-toggle:after {
        color: $white_1;
      }

      a {
        color: $white_1;
      }

      .search .form-input {
        background: $white_1;
        color: $black_2;
      }

      .dropdown-menu {
        ion-icon {
          color: $white_1;
        }

        background: $black_4;

        a:hover {
          background: transparent;
        }

        div {
          color: $white_1;
        }

        button {
          color: $white_1;

          &:hover {
            background: transparent;
          }
        }
      }
    }

    div.leftsidebar {
      background: $black_4;

      a {
        color: $white_1;

        &:not(.active) {
          ion-icon {
            color: $white_1;
          }
        }
      }

      .sidenav-collapse {
        ion-icon {
          color: $white_1;
        }
      }

      .dropdown-item:focus,
      .dropdown-item:hover {
        background: transparent;
      }
    }

    div.sidenav {
      background: $black_4;
      color: $white_1;

      a.dropdown-item {
        color: $white_1;
      }

      a.dropdown-item.active {
        background-color: unset;
      }

      #login-button {
        color: $black_2;
      }
    }

    .btn-raised {
      background: $white_1;
    }

    #login-button {
      color: $white_1;

      &:hover,
      &:focus {
        color: $black_2;
        background: $white_1;
      }
    }

    button.btn.btn-primary {
      &:hover,
      &:focus {
        background: $blue_2;
      }
    }

    .favorite-option {
      ion-icon {
        color: $white_1;
      }
    }

    .form-group {
      ion-icon {
        color: $white_1;
      }

      input.form-control,
      textarea.form-control {
        border-bottom: 0.25px solid $grey_8;
        color: $white_1;
        background-image: linear-gradient(0deg, $grey_8 1px, rgba(0, 150, 136, 0) 0),
        linear-gradient(0deg, rgba(0, 0, 0, 0.2) 1px, transparent 0)
      }
    }

    .modal {
      color: $white_1;

      .is-focused [class*=bmd-label],
      .is-focused [class^=bmd-label] {
        color: $white_1 !important;
      }

      ion-icon {
        color: $white_1;
      }

      div.modal-header {
        background-color: $black_4;

        #close-login,
        #close-signup {
          color: $white_1;
        }
      }

      .modal-content {
        border: 1px solid $grey_8;
        background-color: $black_4;
      }
    }

    div.social-login-text {
      color: $white_1;
    }

    div.login-additional-help {
      a {
        color: $white_1;
      }
    }

    .book-retrieve-error {
      color: $white_1;
    }

    .review-card {
      ion-icon {
        color: $white_1;
      }
    }

    hr {
      background-color: $grey_8;
    }

    #image-upload {
      #dropzone {
        p {
          color: $white_1;
        }

        ion-icon {
          color: $white_1;
        }
      }
    }
  }
}
