$font_family_1: georgia, sans-serif;

* {
  font-family: $font_family_1;
}

html, body {
  color: $black_2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: unset;
}

a {
  color: $black_2;

  &:hover {
    color: $black_2;
  }
}

.App {
  .hide {
    display: none;
  }

  .show {
    display: block;
  }

  button.btn.btn-primary {
    color: $white_1;
    background-color: $blue_2;
    border-color: $blue_2;
    padding: 10px 20px;
    border-radius: 5px;
  }

  .btn-raised {
    padding: 10px 20px;
    border-radius: 5px;
  }

  [class*=" bmd-label"], [class^=bmd-label] {
    color: unset;
  }

  ion-icon {
    font-size: 20px;
    color: $black_2;
  }

  .blur {
    opacity: 0.8;

    ion-icon {
      opacity: 0.5;
    }
  }

  .phone-only {
    display: none;
  }

  .dark-mode {
    &-switch {
      background: transparent;
      border: transparent;
      cursor: pointer;
      vertical-align: sub;
    }
  }
}

h2#swal2-title {
  font-weight: 100;
}

.swal2-popup.swal2-toast.swal2-show {
  border-radius: 20px;
}

@media screen and (max-width: 560px) {
  .desktop-and-tablet {
    display: none;
  }

  .App {
    .phone-only {
      display: block;
    }
  }
}
