#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
	background-color: $blue_2;
	border-radius: 50%;
  color: white;
  cursor: pointer;

  &:hover {
    box-shadow: $box_shadow_2;
  }

  i {
    font-size: 25px;
  }
}

@media screen and (max-width: 560px) {
  #back-to-top {
    right: 15px;
  }
}
