

#image-error-placeholder {
	width: 170px !important;
	height: 15rem !important;
	line-height: 15rem;
	border: 1px solid #d4d4d4;
	border-radius: 4px;
	margin-top: 15px;
	display: block;
	margin: auto;
}

@media screen and (min-width: 960px) {
	.container-content {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		max-width: 1200px;
		margin: 110px auto 20px auto;
		justify-content: space-between;

		.child-elem {
			width: calc(1/5*100% - (1 - 1/5)*40px);
			margin-bottom: 50px;

			#image-error-placeholder {
				width: 190px !important;
				height: 15rem;
				line-height: 15rem;
				border: 1px solid #d4d4d4;
				border-radius: 4px;
				margin-top: 15px;
				display: block;
				margin: auto;
			}
		}
	}

	.genre {
		.genre-search {
			.ant-input {
				padding: 11px !important;
				width: 330px !important;
			}
		}
	}
}

@media screen and (min-width: 760px) and (max-width: 959px) {
	.container-content {
		display: flex;
		flex-direction: row;
		max-width: 959px;
		margin: 30px 100px !important;
		flex-wrap: wrap;
		justify-content: space-between;
		
		.child-elem {
			width: calc(1/3*100% - (1 - 1/3)*50px);
			margin-bottom: 30px;
		}
	}
}

@media screen and (min-width: 561px) and (max-width: 758px) {
	.container-content {
		display: flex;
		flex-direction: row;
    flex-wrap: wrap;		
    width: 100%;
    max-width: 540px;
		justify-content: space-between;
		margin-top: 100px !important;
		
		.child-elem {
			width: calc(1/3*100% - (1 - 1/3)*40px);
			margin-bottom: 25px;

			.book-images {
				width: 125px !important;
				height: 10rem !important;
			}
	
			.book-footer {
				width: 125px !important;
				height: 8rem !important;
			}
	
			#image-error-placeholder {
				width: 125px !important;
				height: 10rem !important;
				line-height: 10rem;
				border: 1px solid #d4d4d4;
				border-radius: 4px;
				margin-top: 15px;
				display: block;
				margin: auto;
			}
		}
	}

	.user-books {
		&__header {
			display: none !important;
		}
	}
}

@media screen and (max-width: 560px) {
	.genre {
		display: block !important;
		margin: 100px auto 0 auto !important;
		width: 330px !important;

		.genre-search {
			margin: 0 !important;

			.ant-input {
				padding: 11px !important;
				width: 330px !important;
			}
		}
	}

	#main {
		padding: unset;
		margin-top: unset;
	}

	.container-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 80px !important;

		.child-elem {
			.book-images {
				width: 155px !important;
				height: 13rem !important;
			}

			.book-footer {
				width: 155px !important;
				height: 8rem !important;
			}

			#image-error-placeholder {
				width: 155px !important;
				height: 13rem !important;
				line-height: 13rem;
				border: 1px solid #d4d4d4;
				border-radius: 4px;
				margin-top: 15px;
				display: block;
				margin: auto;
			}
		}
	}

	.user-books {
		&__header {
			display: none;
		}
	}
}

.fetch-error {
	margin: 100px auto;
}